[submodule "packages/wiki-core"]
	path = packages/wiki-core
	url = https://github.com/kanso/wiki-core.git
[submodule "packages/wiki-theme-default"]
	path = packages/wiki-theme-default
	url = https://github.com/kanso/wiki-theme-default.git
