#secondbar {
    background: url(../img/secondbar_bg.png);
    border-bottom: 1px solid #ccc;
    margin-bottom: @baseline;
    padding: 21px 0 11px 0;
}
#secondbar h1 a,
#secondbar h1 a:hover {
    color: @grayDark;
    text-decoration: none;
}

/* Don't display dots on mobile devices */
@media only screen and (max-device-width: 480px) {
    #secondbar {
        background: #fafafa;
    }
}
