<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span10">
        <h1>{page_title}</h1>
        <p>
        {?page_subtitle}
          {page_subtitle}
        {:else}
          There is currently no text in this page.
        {/page_subtitle}
        </p>
        {>"page_tabs.html"/}
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">
        <div id="discussion">
          {?comments}
          <ul id="discussion_list">
            {#comments}
            <li class="{type}">
              <strong class="user">{user}</strong>
              {?is_edit}<a class="edited" href="{baseURL}/_history/{pageid}/{_id}">edited the page</a>{/is_edit}
              <span class="time">{pptime}</span>
              {?comment}<div class="comment">{comment}</div>{/comment}
            </li>
            {/comments}
          </ul>
          {:else}
          <p>There are no comments for this page</p>
          {/comments}
        </div>
        <div id="comment_form_login_message">
          Please login to comment on this page
        </div>
        <form id="comment_form" action="" method="POST">
          <textarea id="comment_textarea" name="comment"></textarea>
          <div class="comment_actions">
            <input class="btn" id="clear_comment" type="reset" value="Clear" />
            <input class="btn primary" id="add_comment" type="submit" value="Add comment" />
          </div>
        </form>
      </div>

      <div id="sidebar" class="span4">
        <h4>Participating users</h4>
        {?participants}
        <ul id="participants" class="menu">
          {#participants}
          <li><a href="{baseURL}/_user/{.|uc}">{.}</a></li>
          {/participants}
        </ul>
        {:else}
        <p>No users are participating in this discussion</p>
        {/participants}
      </div>

    </div>
  </div>
</div>
