{#doc}

<form id="edit_page_form" action="" method="POST">

  <div id="secondbar">
    <div class="container">
      <div class="row">
        <div class="span10">

          <input type="hidden" name="title" value="{title}" />
          <div id="title" class="editable" href="#">
            <h1>{title}</h1>
          </div>

          <input type="hidden" name="subtitle" value="{subtitle}" />
          <div id="subtitle" class="editable" href="#">
            <p>{subtitle}</p>
          </div>

          {>"page_tabs.html"/}

        </div>
        <div class="span6">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="content">
      <div class="row">

        <div class="span12">
          <div id="editor_container">
            <div id="editor_overlay">
              <div id="editor_overlay_bg"></div>
              <div id="editor_overlay_login_message">
                You must be logged in to edit this page
              </div>
            </div>
            <div id="editor">{body}</div>
          </div>
          <div id="preview" class="page_body"></div>
        </div>
{/doc}

        <div id="sidebar" class="span4">
          <ul class="menu">
            <li id="editor_btn" class="active"><div>Editor</div></li>
            <li id="preview_btn"><div>Preview</div></li>
          </ul>
          <input type="submit" id="save_btn" class="btn primary" value="Save" />
          <input type="button" id="cancel_btn" class="btn" value="Cancel" />

          <div id="cheatsheet">
            <h4>Syntax Cheatsheet</h4>
            <p>Headings</p>
            <pre>## heading 2
### heading 3
#### heading 4</pre>
            <p>Links / New pages</p>
            <pre>[link text](http://link.url)
[[wiki_link]]</pre>
            <p>Lists</p>
            <pre>* one
* two
* three</pre>
            <p><a href="{baseURL}/_help#syntax">Full syntax guide</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>

</form>
