<form id="edit_page_form" action="" method="POST">

  <div id="secondbar">
    <div class="container">
      <div class="row">
        <div class="span10">

          <input type="hidden" name="title" value="{{title}}" />
          <div id="title" class="editable" href="#">
            <h1>{{doc.title}}</h1>
          </div>

          <input type="hidden" name="subtitle" value="{{subtitle}}" />
          <div id="subtitle" class="editable" href="#">
            <p>{{doc.subtitle}}</p>
          </div>

          {{{include "page_tabs.html"}}}

        </div>
        <div class="span6">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="content">
      <div class="row">

        <div class="span12">
          <ul id="editor_buttons">
              <li class="editor_btn bold"></li>
              <li class="editor_btn italic"></li>
              <li class="divider d1"></li>

              <li class="editor_btn link"></li>
              <li class="editor_btn quote"></li>
              <li class="editor_btn code"></li>
              <li class="editor_btn img"></li>
              <li class="divider d2"></li>

              <li class="editor_btn num_list"></li>
              <li class="editor_btn list"></li>
              <li class="editor_btn heading"></li>
              <li class="editor_btn hr"></li>
              <li class="divider d3"></li>

              <li class="editor_btn undo"></li>
              <li class="editor_btn redo"></li>

              <li class="help"><a href="{{baseURL}}/_help#syntax">Syntax guide</a></li>
          </ul>
          <div id="editor_container">
            <div id="editor_overlay">
              <div id="editor_overlay_bg"></div>
              <div id="editor_overlay_login_message">
                You must be logged in to edit this page
              </div>
            </div>
            <div id="editor">{{doc.body}}</div>
          </div>
          <div id="preview" class="page_body"></div>
        </div>

        <div id="sidebar" class="span4">
          <h4>Edit page</h4>
          <ul class="menu">
            <li id="editor_btn" class="active"><div>Editor</div></li>
            <li id="preview_btn"><div>Preview</div></li>
          </ul>
          <input type="submit" id="save_btn" class="btn primary" value="Save" />
          <input type="button" id="cancel_btn" class="btn" value="Cancel" />
        </div>

      </div>
    </div>
  </div>

</form>
