<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>{page}</h1>
        <p>
          There is currently no text in this page. Would you like to
          <a href="{baseURL}/_add/{page|uc}">add content</a> for <strong>{page}</strong>?
        </p>
      </div>
      <div class="span4">
        <a href="{baseURL}/_add/{page|uc}" class="btn editbtn">Add page</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">
        <div class="page_body">
        </div>
      </div>

      <div id="sidebar" class="span4">
      </div>

    </div>
  </div>
</div>
