<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span10">
        <h1>Help</h1>
        <p>Documentation on syntax and page management</p>
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">
        <div class="page_body">
          <h2>Page Mangement</h2>
          <ul>
            <li><a href="#creating_pages">Creating pages</a></li>
            <li><a href="#page_titles">Page titles</a></li>
            <li><a href="#index_page">Index page</a></li>
            <li><a href="#sidebar">Sidebar</a></li>
            <li><a href="#page_history">Page history</a></li>
            <li><a href="#page_discussion">Page discussion</a></li>
          </ul>
          <h3 id="creating_pages">Creating pages</h3>
          <p>
            To create pages, simply link to them using the internal wiki link
            format then click the link to visit the blank page. You can then
            click the edit tab as you would on any existing page and start
            adding content.
          </p>
          <p>
            The Page ID you use in the link become the new URL for the page.
            For example:
          </p>
          <pre>[[new_page]]</pre>
          <p>
            Would create a page at the wiki URL <code>/new_page</code>. It is not
            possible to create directories of pages, all pages are identified by
            their Page ID only. Because of this, you should try to be descriptive
            with your Page IDs, you can always change the displayed title
            afterwards.
          </p>
          <p>
            Page IDs must not start with an underscore &quot;<code>_</code>&quot;.
            URLs beginning with an underscore are reserved for the wiki application
            itself.
          </p>

          <h3 id="page_titles">Page titles</h3>
          <p>
            You can modify the title of a page by clicking on the title text while
            on the edit tab. This will bring up a prompt asking for the new text.
            By default, the title of a new page is based on its Page ID.
            You can modify subtitles in the same way.
          </p>

          <h3 id="index_page">Index page</h3>
          <p>
            The <code>index</code> Page ID has special meaning, and
            refers to the page displayed at the root URL of the wiki (the
            &quot;home&quot; page).
          </p>

          <h3 id="sidebar">Sidebar</h3>
          <p>
            There is also a sidebar document with the special Page ID
            <code>sidebar</code>. This is displayed alongside every
            page and is a good place to put navigation and site-wide information.
          </p>
          <p>
            To edit the sidebar, click the edit link at the bottom of the sidebar
            when viewing a page. Or visit
            <a href="{baseURL}/_edit/sidebar">/_edit/sidebar</a> directly.
          </p>

          <h3 id="page_history">Page History</h3>
          <p>
            The history tab displays all edits of a page, newest first. You can
            see the user that made the change and the time the change was made.
            By clicking on a change you're shown a diff between the edit and the
            previous version.
          </p>
          <p>
            Page history survives database compaction by using its own document
            versioning instead of relying on CouchDB's internal revisions.
          </p>

          <h3 id="page_discussion">Page Discussion</h3>
          <p>
            This is a good place to discuss changes to a page before making them
            live, or to ask the author for clarification. Comments are displayed
            inline with edit events to provide a useful context for the comments.
          </p>
          <p>
            Clicking on an edit event in the discussion page will open its entry
            in the history tab. Displaying the changes that were made.
          </p>

          <h2 id="syntax">Wiki syntax</h2>
          <p>
            The wiki uses a markup format based on
            <a href="http://daringfireball.net/projects/markdown/">Markdown</a>.
            One important difference is that the ability to add inline-html has
            been removed. There have also been a few additions which are described
            in the "Markdown extensions" section.
          </p>

          <ul>
            <li><a href="#markdown_extensions">Markdown extensions</a></li>
            <ul>
              <li><a href="#markdown_extension_fenced">Fenced code blocks</a></li>
              <li><a href="#markdown_extension_wiki_links">Wiki links</a></li>
            </ul>
            <li><a href="#markdown_syntax">Basic markdown syntax</a></li>
            <ul>
              <li><a href="#markdown_paragraphs">Paragraphs</a></li>
              <li><a href="#markdown_headings">Headings</a></li>
              <li><a href="#markdown_blockquotes">Blockquotes</a></li>
              <li><a href="#markdown_lists">Lists</a></li>
              <li><a href="#markdown_code_blocks">Code blocks</a></li>
              <li><a href="#markdown_horizontal_rules">Horizontal rules</a></li>
              <li><a href="#markdown_links">Links</a></li>
              <li><a href="#markdown_emphasis">Emphasis</a></li>
              <li><a href="#markdown_code">Code</a></li>
              <li><a href="#markdown_images">Images</a></li>
              <li><a href="#markdown_backslash_escapes">Backslash escapes</a></li>
            </ul>
          </ul>

          <h3 id="markdown_extensions">Markdown extensions</h3>
          <p>
            There are two useful extensions to Markdown included with the wiki.
            Firstly, fenced code blocks with optional syntax highlighting (thanks
            to <a href="http://github.github.com/github-flavored-markdown/">GitHub Flavored Markdown</a>
            for the inspiration and syntax). Secondly, internal wiki links,
            which are useful to linking to pages within the wiki itself, using
            only the Page ID.
          </p>

          <h4 id="markdown_extension_fenced">Fenced code blocks</h4>
          <p>
            Instead of having to indent preformatted text with four spaces you can
            also just wrap the text with <code>```</code> and avoid having to
            indent it at all:
          </p>
<pre>```
This is preformatted text
```</pre>
          <p>
            You can also add syntax highlighting by specifying a language after
            the first <code>```</code>:
          </p>
<pre>```javascript
function hello() {
    return "Hello, world!";
}
```</pre>
          <p>
            The syntax highlighting will only work if the wiki has been shipped
            with the language specified.
          </p>

          <h4 id="markdown_extension_wiki_links">Wiki links</h4>
          <p>
            Wiki links are links to interal URLs using the Page ID:
          </p>
<pre>[[page_id]]</pre>
          <p>
            This is the preferred way to link to pages within the wiki itself.
            You can link to a pages that don't exist yet, and by clicking it
            you'll be presented with a new empty page you can edit.
          </p>
          <p>
            Page IDs cannot start with an underscore &quot;<code>_</code>&quot;,
            since URLs beginning with an underscore are reserved for use by the
            wiki application.
          </p>

          <h3 id="markdown_syntax">Basic markdown syntax</h3>
          <p>
            Markdown is intended to be as easy-to-read and easy-to-write as is
            feasible. Much of the following Markdown documentation is taken
            directly from the Markdown site for people running the wiki locally
            and perhaps without an internet connection. For the latest information,
            visit the <a href="http://daringfireball.net/projects/markdown/syntax">Markdown website</a>.
          </p>

          <h4 id="markdown_paragraphs">Paragraphs</h4>
          <p>To separate paragraphs, simply add a blank line:</p>
          <pre>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis sollicitudin varius. Quisque leo neque, gravida ut auctor ut, suscipit at mauris. Nulla cursus dolor nec justo laoreet pellentesque.

Nulla felis nulla, vehicula mollis rutrum ac, mollis sit amet ipsum. Sed vel neque a arcu imperdiet iaculis. In ornare, est quis mollis molestie, mi nisl iaculis enim, quis ornare metus erat mattis risus. Quisque vehicula dapibus magna.</pre>
          <p>
            A paragraph is "one or more consecutive lines of text", meaning you
            can hard-wrap paragraphs using line-breaks and &lt;br/&gt; tags will
            not be inserted.
          </p>

          <h4 id="markdown_headings">Headings</h4>
          <p>
            Markdown supports two styles of headings:
          </p>
          <pre>This is a H1
============

This is a H2
------------</pre>
          <p>
            Where any number of underlining '=' or '-' will work. Or:
          </p>
          <pre># This is a H1

## This is a H2

### This is H3

#### This is H4</pre>
          <p>
            With wiki pages, it's worth remembering that the title for the page
            is handled separately, and is a H1. Since there should only be one H1
            on a page, you'll want to start your Markdown headings in the page body
            at H2. For this reason the second style is preferred.
          </p>

          <h4 id="markdown_blockquotes">Blockquotes</h4>
          <p>Markdown uses email-style &gt; characters for blockquoting:</p>
<pre>&gt; This is a blockquote with two paragraphs. Lorem ipsum dolor sit amet,
&gt; consectetuer adipiscing elit. Aliquam hendrerit mi posuere lectus.
&gt; Vestibulum enim wisi, viverra nec, fringilla in, laoreet vitae, risus.
&gt; 
&gt; Donec sit amet nisl. Aliquam semper ipsum sit amet velit. Suspendisse
&gt; id sem consectetuer libero luctus adipiscing.</pre>
          <p>
            Markdown allows you to be lazy and only put the &gt; before the first
            line of a hard-wrapped paragraph:
          </p>
<pre>&gt; This is a blockquote with two paragraphs. Lorem ipsum dolor sit amet,
consectetuer adipiscing elit. Aliquam hendrerit mi posuere lectus.
Vestibulum enim wisi, viverra nec, fringilla in, laoreet vitae, risus.

&gt; Donec sit amet nisl. Aliquam semper ipsum sit amet velit. Suspendisse
id sem consectetuer libero luctus adipiscing.</pre>
          <p>
            Blockquotes can be nested (i.e. a blockquote-in-a-blockquote) by
            adding additional levels of &gt;:
          </p>
<pre>&gt; This is the first level of quoting.
&gt;
&gt; &gt; This is nested blockquote.
&gt;
&gt; Back to the first level.</pre>
          <p>
            Blockquotes can contain other Markdown elements, including headers,
            lists, and code blocks:
          </p>
<pre>
&gt; ## This is a header.
&gt; 
&gt; 1.   This is the first list item.
&gt; 2.   This is the second list item.
&gt; 
&gt; Here's some example code:
&gt; 
&gt;     return shell_exec("echo $input | $markdown_script");
</pre>

          <h4 id="markdown_lists">Lists</h4>
          <p>
            Markdown supports ordered (numbered) and unordered (bulleted) lists.
          </p>
          <p>
            Unordered lists use asterisks, pluses, and hyphens — interchangably
            — as list markers:
          </p>
<pre>*   Red
*   Green
*   Blue

+   Red
+   Green
+   Blue

-   Red
-   Green
-   Blue</pre>
          <p>
            Ordered lists use numbers followed by periods:
          </p>
<pre>1.  Bird
2.  McHale
3.  Parish</pre>
          <p>
            It’s important to note that the actual numbers you use to mark the
            list have no effect on the HTML output Markdown produces. The HTML
            Markdown produces from the above list is:
          </p>
<pre>&lt;ol&gt;
&lt;li&gt;Bird&lt;/li&gt;
&lt;li&gt;McHale&lt;/li&gt;
&lt;li&gt;Parish&lt;/li&gt;
&lt;/ol&gt;</pre>
          <p>
            If you instead wrote the list in Markdown like this:
          </p>
<pre>1.  Bird
1.  McHale
1.  Parish</pre>
          <p>
            or even:
          </p>
<pre>3. Bird
1. McHale
8. Parish</pre>
          <p>
            you’d get the exact same HTML output. The point is, if you want to,
            you can use ordinal numbers in your ordered Markdown lists, so that
            the numbers in your source match the numbers in your published HTML.
            But if you want to be lazy, you don’t have to.
          </p>
          <p>
            If you do use lazy list numbering, however, you should still start the
            list with the number 1. At some point in the future, Markdown may support
            starting ordered lists at an arbitrary number.
          </p>
          <p>
            List markers typically start at the left margin, but may be indented by
            up to three spaces. List markers must be followed by one or more spaces
            or a tab.
          </p>
          <p>
            To make lists look nice, you can wrap items with hanging indents:
          </p>

<pre><code>*   Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    Aliquam hendrerit mi posuere lectus. Vestibulum enim wisi,
    viverra nec, fringilla in, laoreet vitae, risus.
*   Donec sit amet nisl. Aliquam semper ipsum sit amet velit.
    Suspendisse id sem consectetuer libero luctus adipiscing.</code></pre>

<p>But if you want to be lazy, you don&#8217;t have to:</p>

<pre><code>*   Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
Aliquam hendrerit mi posuere lectus. Vestibulum enim wisi,
viverra nec, fringilla in, laoreet vitae, risus.
*   Donec sit amet nisl. Aliquam semper ipsum sit amet velit.
Suspendisse id sem consectetuer libero luctus adipiscing.</code></pre>

<p>If list items are separated by blank lines, Markdown will wrap the
items in <code>&lt;p&gt;</code> tags in the HTML output. For example, this input:</p>

<pre><code>*   Bird
*   Magic</code></pre>

<p>will turn into:</p>

<pre><code>&lt;ul&gt;
&lt;li&gt;Bird&lt;/li&gt;
&lt;li&gt;Magic&lt;/li&gt;
&lt;/ul&gt;</code></pre>

<p>But this:</p>

<pre><code>*   Bird

*   Magic</code></pre>

<p>will turn into:</p>

<pre><code>&lt;ul&gt;
&lt;li&gt;&lt;p&gt;Bird&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Magic&lt;/p&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>

<p>List items may consist of multiple paragraphs. Each subsequent
paragraph in a list item must be indented by either 4 spaces
or one tab:</p>

<pre><code>1.  This is a list item with two paragraphs. Lorem ipsum dolor
    sit amet, consectetuer adipiscing elit. Aliquam hendrerit
    mi posuere lectus.

    Vestibulum enim wisi, viverra nec, fringilla in, laoreet
    vitae, risus. Donec sit amet nisl. Aliquam semper ipsum
    sit amet velit.

2.  Suspendisse id sem consectetuer libero luctus adipiscing.</code></pre>

<p>It looks nice if you indent every line of the subsequent
paragraphs, but here again, Markdown will allow you to be
lazy:</p>

<pre><code>*   This is a list item with two paragraphs.

    This is the second paragraph in the list item. You're
only required to indent the first line. Lorem ipsum dolor
sit amet, consectetuer adipiscing elit.

*   Another item in the same list.</code></pre>

<p>To put a blockquote within a list item, the blockquote&#8217;s <code>&gt;</code>
delimiters need to be indented:</p>

<pre><code>*   A list item with a blockquote:

    &gt; This is a blockquote
    &gt; inside a list item.</code></pre>

<p>To put a code block within a list item, the code block needs
to be indented <em>twice</em> &#8212; 8 spaces or two tabs:</p>

<pre><code>*   A list item with a code block:

        &lt;code goes here&gt;</code></pre>

<p>It&#8217;s worth noting that it&#8217;s possible to trigger an ordered list by
accident, by writing something like this:</p>

<pre><code>1986. What a great season.</code></pre>

<p>In other words, a <em>number-period-space</em> sequence at the beginning of a
line. To avoid this, you can backslash-escape the period:</p>

<pre><code>1986\. What a great season.</code></pre>


<h4 id="markdown_code_blocks">Code Blocks</h4>

<p>Pre-formatted code blocks are used for writing about programming or
markup source code. Rather than forming normal paragraphs, the lines
of a code block are interpreted literally. Markdown wraps a code block
in both <code>&lt;pre&gt;</code> and <code>&lt;code&gt;</code> tags.</p>

<p>To produce a code block in Markdown, simply indent every line of the
block by at least 4 spaces or 1 tab. For example, given this input:</p>

<pre><code>This is a normal paragraph:

    This is a code block.</code></pre>

<p>Markdown will generate:</p>

<pre><code>&lt;p&gt;This is a normal paragraph:&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;This is a code block.
&lt;/code&gt;&lt;/pre&gt;</code></pre>

<p>One level of indentation &#8212; 4 spaces or 1 tab &#8212; is removed from each
line of the code block. For example, this:</p>

<pre><code>Here is an example of AppleScript:

    tell application "Foo"
        beep
    end tell</code></pre>

<p>will turn into:</p>

<pre><code>&lt;p&gt;Here is an example of AppleScript:&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;tell application "Foo"
    beep
end tell
&lt;/code&gt;&lt;/pre&gt;</code></pre>

<p>A code block continues until it reaches a line that is not indented
(or the end of the article).</p>

<p>Within a code block, ampersands (<code>&amp;</code>) and angle brackets (<code>&lt;</code> and <code>&gt;</code>)
are automatically converted into HTML entities. This makes it very
easy to include example HTML source code using Markdown &#8212; just paste
it and indent it, and Markdown will handle the hassle of encoding the
ampersands and angle brackets. For example, this:</p>

<pre><code>    &lt;div class="footer"&gt;
        &amp;copy; 2004 Foo Corporation
    &lt;/div&gt;</code></pre>

<p>will turn into:</p>

<pre><code>&lt;pre&gt;&lt;code&gt;&amp;lt;div class="footer"&amp;gt;
    &amp;amp;copy; 2004 Foo Corporation
&amp;lt;/div&amp;gt;
&lt;/code&gt;&lt;/pre&gt;</code></pre>

<p>Regular Markdown syntax is not processed within code blocks. E.g.,
asterisks are just literal asterisks within a code block. This means
it&#8217;s also easy to use Markdown to write about Markdown&#8217;s own syntax.</p>

<h4 id="markdown_horizontal_rules">Horizontal rules</h4>

<p>You can produce a horizontal rule tag (<code>&lt;hr /&gt;</code>) by placing three or
more hyphens, asterisks, or underscores on a line by themselves. If you
wish, you may use spaces between the hyphens or asterisks. Each of the
following lines will produce a horizontal rule:</p>

<pre><code>* * *

***

*****

- - -

---------------------------------------</code></pre>


<h4 id="markdown_links">Links</h4>

<p>Markdown supports two style of links: <em>inline</em> and <em>reference</em>.</p>

<p>In both styles, the link text is delimited by [square brackets].</p>

<p>To create an inline link, use a set of regular parentheses immediately
after the link text&#8217;s closing square bracket. Inside the parentheses,
put the URL where you want the link to point, along with an <em>optional</em>
title for the link, surrounded in quotes. For example:</p>

<pre><code>This is [an example](http://example.com/ "Title") inline link.

[This link](http://example.net/) has no title attribute.</code></pre>

<p>Will produce:</p>

<pre><code>&lt;p&gt;This is &lt;a href="http://example.com/" title="Title"&gt;
an example&lt;/a&gt; inline link.&lt;/p&gt;

&lt;p&gt;&lt;a href="http://example.net/"&gt;This link&lt;/a&gt; has no
title attribute.&lt;/p&gt;</code></pre>

<p>If you&#8217;re referring to a local resource on the same server, you can
use relative paths:</p>

<pre><code>See my [About](/about/) page for details.</code></pre>

<p>Reference-style links use a second set of square brackets, inside
which you place a label of your choosing to identify the link:</p>

<pre><code>This is [an example][id] reference-style link.</code></pre>

<p>You can optionally use a space to separate the sets of brackets:</p>

<pre><code>This is [an example] [id] reference-style link.</code></pre>

<p>Then, anywhere in the document, you define your link label like this,
on a line by itself:</p>

<pre><code>[id]: http://example.com/  "Optional Title Here"</code></pre>

<p>That is:</p>

<ul>
<li>Square brackets containing the link identifier (optionally
indented from the left margin using up to three spaces);</li>
<li>followed by a colon;</li>
<li>followed by one or more spaces (or tabs);</li>
<li>followed by the URL for the link;</li>
<li>optionally followed by a title attribute for the link, enclosed
in double or single quotes, or enclosed in parentheses.</li>
</ul>

<p>The following three link definitions are equivalent:</p>

<pre><code>[foo]: http://example.com/  "Optional Title Here"
[foo]: http://example.com/  'Optional Title Here'
[foo]: http://example.com/  (Optional Title Here)</code></pre>

<p><strong>Note:</strong> There is a known bug in Markdown.pl 1.0.1 which prevents
single quotes from being used to delimit link titles.</p>

<p>The link URL may, optionally, be surrounded by angle brackets:</p>

<pre><code>[id]: &lt;http://example.com/&gt;  "Optional Title Here"</code></pre>

<p>You can put the title attribute on the next line and use extra spaces
or tabs for padding, which tends to look better with longer URLs:</p>

<pre><code>[id]: http://example.com/longish/path/to/resource/here
    "Optional Title Here"</code></pre>

<p>Link definitions are only used for creating links during Markdown
processing, and are stripped from your document in the HTML output.</p>

<p>Link definition names may consist of letters, numbers, spaces, and
punctuation &#8212; but they are <em>not</em> case sensitive. E.g. these two
links:</p>

<pre><code>[link text][a]
[link text][A]</code></pre>

<p>are equivalent.</p>

<p>The <em>implicit link name</em> shortcut allows you to omit the name of the
link, in which case the link text itself is used as the name.
Just use an empty set of square brackets &#8212; e.g., to link the word
&#8220;Google&#8221; to the google.com web site, you could simply write:</p>

<pre><code>[Google][]</code></pre>

<p>And then define the link:</p>

<pre><code>[Google]: http://google.com/</code></pre>

<p>Because link names may contain spaces, this shortcut even works for
multiple words in the link text:</p>

<pre><code>Visit [Daring Fireball][] for more information.</code></pre>

<p>And then define the link:</p>

<pre><code>[Daring Fireball]: http://daringfireball.net/</code></pre>

<p>Link definitions can be placed anywhere in your Markdown document. I
tend to put them immediately after each paragraph in which they&#8217;re
used, but if you want, you can put them all at the end of your
document, sort of like footnotes.</p>

<p>Here&#8217;s an example of reference links in action:</p>

<pre><code>I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"</code></pre>

<p>Using the implicit link name shortcut, you could instead write:</p>

<pre><code>I get 10 times more traffic from [Google][] than from
[Yahoo][] or [MSN][].

  [google]: http://google.com/        "Google"
  [yahoo]:  http://search.yahoo.com/  "Yahoo Search"
  [msn]:    http://search.msn.com/    "MSN Search"</code></pre>

<p>Both of the above examples will produce the following HTML output:</p>

<pre><code>&lt;p&gt;I get 10 times more traffic from &lt;a href="http://google.com/"
title="Google"&gt;Google&lt;/a&gt; than from
&lt;a href="http://search.yahoo.com/" title="Yahoo Search"&gt;Yahoo&lt;/a&gt;
or &lt;a href="http://search.msn.com/" title="MSN Search"&gt;MSN&lt;/a&gt;.&lt;/p&gt;</code></pre>

<p>For comparison, here is the same paragraph written using
Markdown&#8217;s inline link style:</p>

<pre><code>I get 10 times more traffic from [Google](http://google.com/ "Google")
than from [Yahoo](http://search.yahoo.com/ "Yahoo Search") or
[MSN](http://search.msn.com/ "MSN Search").</code></pre>

<p>The point of reference-style links is not that they&#8217;re easier to
write. The point is that with reference-style links, your document
source is vastly more readable. Compare the above examples: using
reference-style links, the paragraph itself is only 81 characters
long; with inline-style links, it&#8217;s 176 characters; and as raw HTML,
it&#8217;s 234 characters. In the raw HTML, there&#8217;s more markup than there
is text.</p>

<p>With Markdown&#8217;s reference-style links, a source document much more
closely resembles the final output, as rendered in a browser. By
allowing you to move the markup-related metadata out of the paragraph,
you can add links without interrupting the narrative flow of your
prose.</p>

<h4 id="markdown_emphasis">Emphasis</h4>

<p>Markdown treats asterisks (<code>*</code>) and underscores (<code>_</code>) as indicators of
emphasis. Text wrapped with one <code>*</code> or <code>_</code> will be wrapped with an
HTML <code>&lt;em&gt;</code> tag; double <code>*</code>&#8217;s or <code>_</code>&#8217;s will be wrapped with an HTML
<code>&lt;strong&gt;</code> tag. E.g., this input:</p>

<pre><code>*single asterisks*

_single underscores_

**double asterisks**

__double underscores__</code></pre>

<p>will produce:</p>

<pre><code>&lt;em&gt;single asterisks&lt;/em&gt;

&lt;em&gt;single underscores&lt;/em&gt;

&lt;strong&gt;double asterisks&lt;/strong&gt;

&lt;strong&gt;double underscores&lt;/strong&gt;</code></pre>

<p>You can use whichever style you prefer; the lone restriction is that
the same character must be used to open and close an emphasis span.</p>

<p>Emphasis can be used in the middle of a word:</p>

<pre><code>un*frigging*believable</code></pre>

<p>But if you surround an <code>*</code> or <code>_</code> with spaces, it&#8217;ll be treated as a
literal asterisk or underscore.</p>

<p>To produce a literal asterisk or underscore at a position where it
would otherwise be used as an emphasis delimiter, you can backslash
escape it:</p>

<pre><code>\*this text is surrounded by literal asterisks\*</code></pre>

<h4 id="markdown_code">Code</h4>

<p>To indicate a span of code, wrap it with backtick quotes (<code>`</code>).
Unlike a pre-formatted code block, a code span indicates code within a
normal paragraph. For example:</p>

<pre><code>Use the `printf()` function.</code></pre>

<p>will produce:</p>

<pre><code>&lt;p&gt;Use the &lt;code&gt;printf()&lt;/code&gt; function.&lt;/p&gt;</code></pre>

<p>To include a literal backtick character within a code span, you can use
multiple backticks as the opening and closing delimiters:</p>

<pre><code>``There is a literal backtick (`) here.``</code></pre>

<p>which will produce this:</p>

<pre><code>&lt;p&gt;&lt;code&gt;There is a literal backtick (`) here.&lt;/code&gt;&lt;/p&gt;</code></pre>

<p>The backtick delimiters surrounding a code span may include spaces &#8212;
one after the opening, one before the closing. This allows you to place
literal backtick characters at the beginning or end of a code span:</p>

<pre><code>A single backtick in a code span: `` ` ``

A backtick-delimited string in a code span: `` `foo` ``</code></pre>

<p>will produce:</p>

<pre><code>&lt;p&gt;A single backtick in a code span: &lt;code&gt;`&lt;/code&gt;&lt;/p&gt;

&lt;p&gt;A backtick-delimited string in a code span: &lt;code&gt;`foo`&lt;/code&gt;&lt;/p&gt;</code></pre>

<p>With a code span, ampersands and angle brackets are encoded as HTML
entities automatically, which makes it easy to include example HTML
tags. Markdown will turn this:</p>

<pre><code>Please don't use any `&lt;blink&gt;` tags.</code></pre>

<p>into:</p>

<pre><code>&lt;p&gt;Please don't use any &lt;code&gt;&amp;lt;blink&amp;gt;&lt;/code&gt; tags.&lt;/p&gt;</code></pre>

<p>You can write this:</p>

<pre><code>`&amp;#8212;` is the decimal-encoded equivalent of `&amp;mdash;`.</code></pre>

<p>to produce:</p>

<pre><code>&lt;p&gt;&lt;code&gt;&amp;amp;#8212;&lt;/code&gt; is the decimal-encoded
equivalent of &lt;code&gt;&amp;amp;mdash;&lt;/code&gt;.&lt;/p&gt;</code></pre>

<h4 id="markdown_images">Images</h4>

<p>Admittedly, it&#8217;s fairly difficult to devise a &#8220;natural&#8221; syntax for
placing images into a plain text document format.</p>

<p>Markdown uses an image syntax that is intended to resemble the syntax
for links, allowing for two styles: <em>inline</em> and <em>reference</em>.</p>

<p>Inline image syntax looks like this:</p>

<pre><code>![Alt text](/path/to/img.jpg)

![Alt text](/path/to/img.jpg "Optional title")</code></pre>

<p>That is:</p>

<ul>
<li>An exclamation mark: <code>!</code>;</li>
<li>followed by a set of square brackets, containing the <code>alt</code>
attribute text for the image;</li>
<li>followed by a set of parentheses, containing the URL or path to
the image, and an optional <code>title</code> attribute enclosed in double
or single quotes.</li>
</ul>

<p>Reference-style image syntax looks like this:</p>

<pre><code>![Alt text][id]</code></pre>

<p>Where &#8220;id&#8221; is the name of a defined image reference. Image references
are defined using syntax identical to link references:</p>

<pre><code>[id]: url/to/image  "Optional title attribute"</code></pre>

<p>As of this writing, Markdown has no syntax for specifying the
dimensions of an image; if this is important to you, you can simply
use regular HTML <code>&lt;img&gt;</code> tags.</p>


<h4 id="markdown_backslash_escapes">Backslash escapes</h4>

<p>Markdown allows you to use backslash escapes to generate literal
characters which would otherwise have special meaning in Markdown&#8217;s
formatting syntax. For example, if you wanted to surround a word
with literal asterisks (instead of an HTML <code>&lt;em&gt;</code> tag), you can use
backslashes before the asterisks, like this:</p>

<pre><code>\*literal asterisks\*</code></pre>

<p>Markdown provides backslash escapes for the following characters:</p>

<pre><code>\   backslash
`   backtick
*   asterisk
_   underscore
{}  curly braces
[]  square brackets
()  parentheses
#   hash mark
+   plus sign
-   minus sign (hyphen)
.   dot
!   exclamation mark</code></pre>


      </div>
      </div>

      <div id="sidebar" class="span4">
        {sidebar|s}
        <p><a class="edit_sidebar{?logged_in}{:else} disabled{/logged_in}" href="{baseURL}/_edit/sidebar">Edit sidebar</a></p>
      </div>

    </div>
  </div>
</div>
