<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span10">
        <h1>{{doc.title}}</h1>
        <p>{{doc.subtitle}}</p>
        {{{include "page_tabs.html"}}}
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">
        <div id="history_diff">
          Loading...
        </div>
      </div>

      <div id="sidebar" class="span4">
        <h4>History</h4>
        <ul class="menu" id="history_list">
        {{#each doc.history}}
          <li class="history_entry{{#if selected}} active{{/if}}">
            <a href="{{baseURL}}/_history/{{uc ../pageid}}/{{uc _id}}">
              <strong class="user">{{user}}</strong>
              <span class="time">{{pptime}}</span>
              {{#if comment}}
              <p class="comment">{{comment}}</p>
              {{/if}}
            </a>
          </li>
        {{/each}}
        </ul>
      </div>

    </div>
  </div>
</div>
