<ul class="tabs">
  <li class="page{{#ifequal current_tab "page"}} active{{/ifequal}}"><a href="{{baseURL}}/{{uc pageid}}">Page</a></li>
  <li class="edit_page{{#ifequal current_tab "edit_page"}} active{{/ifequal}}{{#unless logged_in}} disabled{{/unless}}">
  <a href="{{baseURL}}/_edit/{{uc pageid}}">Edit</a>
  </li>
  <li class="discussion_page{{#ifequal current_tab "discussion_page"}} active{{/ifequal}}"><a href="{{baseURL}}/_discuss/{{uc pageid}}">Discussion</a></li>
  <li class="history_page{{#ifequal current_tab "history_page"}} active{{/ifequal}}{{#if empty_doc}} disabled{{/if}}"><a href="{{baseURL}}/_history/{{uc pageid}}">History</a></li>
</ul>
