{{#with page_tabs}}
<ul class="tabs">
  <li class="page{{#if page}} active{{/if}}"><a href="{{baseURL}}/{{uc ../pageid}}">Page</a></li>
  <li class="edit_page{{#if edit_page}} active{{/if}}{{#unless logged_in}} disabled{{/unless}}">
  <a href="{{baseURL}}/_edit/{{uc ../pageid}}">Edit</a>
  </li>
  <li class="discussion_page{{#if discussion_page}} active{{/if}}"><a href="{{baseURL}}/_discuss/{{uc ../pageid}}">Discussion</a></li>
  <li class="history_page{{#if history_page}} active{{/if}}{{#if ../empty_doc}} disabled{{/if}}"><a href="{{baseURL}}/_history/{{uc ../pageid}}">History</a></li>
</ul>
{{/with}}
